{% extends "index.html" %}

{% block title %}Registrar{% endblock %}

{% block main %}
<section class="container_form">
  <h2>Register</h2>

  <form class="form" action="/cadastro" method="POST">
    <div>
      <label for="name">Nome</label>
        <input name="user_name" type="text" id="name" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input name="user_email" type="email" id="email" required>
    </div>
    <div>
      <label for="passwd">Senha</label>
        <input name="user_passwd" type="password" id="passwd" required>
    </div>

    <button type="submit">Registrar</button>
  </form>
</section>
{% endblock %}
