.header {
  height: 50px;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  padding: 0 2rem;
}

.main {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_form {
  transform: translateY(-50%);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #151515;
}

.container_form > h2 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  text-align: right;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.form > div {
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr);
}

.form label {
  grid-column: 1/2;
}

.form input {
  grid-column: 2/5
}

